body {
  text-align: center;
  background-color: #393e46;
}

h1 {
  margin: 4vh auto 2vh auto;
  font-family: "Chango", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4vh;
  color: #4ecca3;
}

.dice {
  min-height: 65vh;
  justify-content: center;
}

img {
  margin: 1vh auto;
  width: 30vh;
}

button {
  font-family: "Chango", cursive;
  font-size: 3vh;
  width: 30vh;
  height: 10vh;
  margin: 20px auto 0 auto;
  color: white;
  background-color: rgb(156, 6, 12);
}
